<div class="d-flex align-items-center flex-column">
    
     <h3 class="text-white">Home administrador</h3>
        <a href="#" class="btn btn-primary btn-lg">Candidatos</a>
        <a href="#" class="btn btn-primary btn-lg">Partido</a>
        <a href="#" class="btn btn-primary btn-lg">Puesto Electivo</a>
        <a href="#" class="btn btn-primary btn-lg">Ciudadanos</a>
        <a href="#" class="btn btn-primary btn-lg">Elecciones</a>
</div>