
<div class="d-flex align-items-center" style="height: 60%;">
    <div class="col-12 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header fw-bold text-center">
                Iniciar Sesion
            </div>
            <div class="card-body">
              <p class="font-weight-bold ">Iniciar session para nivel de acceso de admistrador</p>
                <form action="/login" method="POST" class="">
    <div class="form-floating">
      <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <a href="/" class="w-100 btn btn-lg btn-warning margin-top-2">Atras</a>
   
  </form>
            </div>
        </div>
    </div>
</div>