<div class="d-flex align-items-center" style="height: 60%;">
    <div class="col-12 col-lg-4 mx-auto">
        <div class="card">
            <div class="card-header fw-bold text-center">
                Sistema de Elecciones
            </div>
            <div class="card-body">
                <form method="POST" action="/login-ciudadano">
                    <div>
                        <label class="form-label" for="Doc">Por favor coloca tu cedula:</label>
                        <input class="form-control" required id="Doc" name="cedula" type="text" placeholder="4014456545">
                    </div>
                    <button class="btn btn-outline-dark mt-4">Validar</button>
                </form>
            </div>
        </div>
    </div>
</div>