<div class="register-form-container">

  <form action="signup" method="POST" enctype="multipart/form-data">
  
    <h3>REGISTRARSE</h3>
      {{#if hasErrorMessages}}
      <div class="errorContainer">
        <ul>
          {{#each errorMessages}}
          <li>
            {{this}}
          </li>
          {{/each}}
        </ul>
      
      </div>
      {{/if}}
    <span>Nombre</span>
    <input required="true"  type="text" id="name" name="name" class="box" placeholder="Digite su nombre" />
    <span>Apellido</span>
    <input required="true" type="text" id="lastName" name="lastName" class="box" placeholder="Digite su apellido" />

    <span>Nombre Usuario</span>
    <input required="true" type="text" id="username" name="username" class="box" placeholder="Digite su nombre de usuario" />

    <span>Imagen de perfil</span>
    <input required="true" type="file" id="imageProfile" name="ImageFile" class="box" />

    <span>Email</span>
    <input required="true" type="email" id="email" name="email" class="box" placeholder="Digite su correo" />
    <span>Contrase単a</span>
    <input required="true" type="password" id="password" name="password" class="box" placeholder="Digite su contrase単a" />
    <span>Confirmar Contrase単a</span>
    <input required="true" type="password" id="confirmPassword" name="confirmPassword" placeholder="Digite su contrase単a" class="box" />
    <span>Telefono</span>
    <input required="true" type="text" id="phone" name="phone" class="box" placeholder="Digite su telefono" />
    <span>Direccion</span>
    <input required="true" type="text" id="address" name="address" class="box" placeholder="Digite su direccion" />
    <span>Rol</span>

    <select required="true" class="box" name="roleId" id="roleId">
      <option value="">Select your account type</option>
      <option value="1">User</option>
      <option value="2">Author</option>
    </select>

    
  <button type="submit" class="btn">Sign up</button>
  </form>

</div>